@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.main-slide-section{
    background-color: $darkBackground;
    .owl-carousel{
        .owl-dots{
            position: relative;
            top: -80px;
            button{
                outline:none;
                span{
                    width: 15px;
                    height: 15px;
                    
                }
                
            }
        }
    }
   
}
@include tablet{
    .owl-dots{
        top: -60px !important;
    }
}
@include mobile{
    .owl-dots{
        top: -35px !important;
        button{
            span{
                width: 10px !important;
                height: 10px !important;
            }
            
        }
    }
}