@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.news-section{
    padding: 100px 0;
    background-color: $darkBackground;
    .grid-block{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 20px;
        background-color: $darkContent;
        padding: 10px;
        border-radius:10px ;
        .card-grid-news{
            height: 100%;
            border-radius: 5px;
            padding: 10px;
            position: relative;
            &:hover{
                .news-img{
                    &::after{
                        width: 70px; 
                        opacity: 1; 
                    }
                } 
                     
            }
            .news-img{ 
                width: 100%;
                .img{
                    height: 200px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            a{
                text-decoration: none;
                .news-title{
                    color: $darkThemeText;
                    font-size: 24px;
                    &:hover{
                        @include GradientTextWith_2_Colors($purple,$red,24%,66%);
                    }
                }
            }
            .news-descript{
                color: $textBlur;
                font-size: 14px;
            }
        }
  
    }
}
// RESPONSIVE
@include mobile{
    .grid-block{
        grid-template-columns: 1fr 1fr !important;
    }
}
//class xài chung
.title-section{
    letter-spacing: 2px;
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
    @include GradientTextWith_2_Colors($purple,$red,24%,66%);
}