@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.search-movie-section-dark{
    background-color:$darkBackground ;
}
.search-movie-section-light{
    background-color:$lightBackground ;
}
.search-movie-section{
    @include tablet{
        .search-movie-box{
            width: 80% !important;   
        }
        .btn-buynow{
            font-size: 10px;
        }
    }
   
    
    .search-movie-box-dark{
        background: $darkContent ;
    }
    .search-movie-box-light{
        background: white ;
        box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.75);
    }
    .search-movie-box{
        width: 65%;
        margin: auto;
        justify-content: space-between;
        
        border-radius: 9px;
        padding: 15px 10px;
        position: relative;
        bottom: 68px;
        z-index: 1;
        .row{
            position: relative;
            top: 6px;
            .search-item-for-movie-ticket{
                
                .btn{
                    background-color:#494646 ;
                }
                .select-option{
                    border: none;
                    border-radius: 7px;
                    background-color:rgba(192,192,192,.2);
                    option{
                        height: 50px;
                        font-size: 18px;
                    }
                }   
            }
        }
    }
}
@media (max-width:1500px){
    .search-item-for-movie-ticket{
        button{
            padding: 5px ;
        }
    }
}
@media (max-width:1000px){
    .search-movie-box{
        .row{
            >div:nth-last-child(1){
                .search-item-for-movie-ticket{
                    height: 100%;
                    display: flex;
                    
                    button{
                        padding: 5px ;
                    }
                }
            }
        }
    }
    
}
@keyframes shadow {
    0% {
      background-position: 0 0;
    }
    50.01% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
//class dùng chung
.btn-buynow{
    cursor: default !important;
    pointer-events: none;
    width: 100%;
    background-color: #494646;
    color: #fff !important;
    font-size: 15px;
    padding: 10px;
    letter-spacing: .5px;
    border-radius: 5px !important;
}
.btn-buynow.active{
    cursor: pointer !important;
    pointer-events: unset;
    @include GradientBackgroundTheme();
}
