@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.search-movie-section{
    background-color:$darkBackground ;
    @include tablet{
        .search-movie-box{
            width: 80% !important;   
        }
        .btn-buynow{
            font-size: 10px;
        }
    }
    @include mobile{
        display: none;
    }
    @include desktopLarge{
        .search-movie-box{
            width: 80% !important;
        }
    }
    
    .search-movie-box{
        width: 65%;
        margin: auto;
        justify-content: space-between;
        background: $darkContent ;
        border-radius: 9px;
        padding: 15px 10px;
        position: relative;
        bottom: 68px;
        z-index: 1;
        .row{
            position: relative;
            top: 6px;
            .search-item-for-movie-ticket{
                
                .btn{
                    background-color:#494646 ;
                }
                .select-option{
                    border: none;
                    border-radius: 7px;
                    background-color:rgba(192,192,192,.2);
                    option{
                        height: 50px;
                        font-size: 18px;
                    }
                }   
            }
        }
    }
}
@keyframes shadow {
    0% {
      background-position: 0 0;
    }
    50.01% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
//class dùng chung
.btn-buynow{
    cursor: default !important;
    pointer-events: none;
    width: 100%;
    background-color: #494646;
    color: #fff !important;
    font-size: 15px;
    padding: 10px;
    letter-spacing: .5px;
    border-radius: 5px !important;
}
.btn-buynow.active{
    cursor: pointer !important;
    pointer-events: unset;
    @include GradientBackgroundTheme();
}
