@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.theater-section-dark{
    background-color: $darkBackground;
}
.theater-section-light{
    background-color: $lightBackground;
}
.theater-section{
    transition: all .7s;
    padding: 20px 0;
    .theater-container{
        height: 700px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
        display: flex;
        .theater-company{
            width: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 18px 0;
            border-right: 1px solid #00000042;
            overflow-y: auto;
            .logo{
                margin: 10px 0;
                img{
                    cursor: pointer;
                    border-radius: 50%;
                    width: 70px;
                    filter: blur(2px);
                }
            }
            .logo.selected{
                img{
                    filter: blur(0);
                    box-shadow: 8px 8px 10px grey;
                }
            }
        }
        .theaters{
            width: 30%;
            margin: 18px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: auto;
            .theater.selected {
                filter: grayscale(0) blur(0);
                box-shadow: -10px 3px 10px grey;
            }
            .theater{
                display: flex;
                flex-wrap: wrap;
                height: 120px;
                padding: 20px;
                margin: 7px 0;
                border-radius: 15px;
                filter: grayscale(0.35) blur(0.6px);
                
                cursor: pointer;
                img{
                    width: 80px;
                    border-radius: 10px;
                }
                .theater-detail{
                    width: 200px;
                    margin: 0 5px;
                    .theater-name{
                        @include GradientTextWith_2_Colors_Dark_Mode();
                        font-size: 17px;
                        font-weight: 600;
                    }
                    .theater-address{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 14px;
                    }
                    .theater-address.dark{
                       color: white;
                    }
                }
            }
        }
        .showing-movies{
            width: 60%;
            margin: 18px 0;
            overflow-y: auto;
            padding: 0 10px;
            .showingMovie{
                padding: 10px;
                margin: 10px 0;
                border-radius: 10px;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 75%);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,75%);
                .movie{
                    display: flex;
                    img{
                        width: 50px;
                    }
                    .movie-info{
                        .main-info{
                            display: flex;
                            align-items: center;
                            .age-tag{
                                display: table;
                            }
                            .movie-name.dark{
                                color: white;
                            }
                        }   
                        .other-info{
                            margin: 0 10px;
                            font-size: 13px;
                            color: gray;
                        }
                        
                    }
                }
                
                .showtime-container{
                    margin: 10px 0;
                    display: flex;
                    .showtime{
                        padding: 10px;
                        margin: 5px;
                        border-radius: 10px;
                        cursor: pointer;
                       
                        text-decoration: none;
                        .start-time{
                            font-weight: 500;
                        }
                        .start-time.dark{
                            @include GradientTextWith_2_Colors_Dark_Mode();
                        }
                        .start-time.light{
                            @include GradientTextWith_2_Colors_Light_Mode();
                        }
                        .end-time{
                            font-size: 13px;
                            color: gray;
                        }
                    }
                    .showtime.dark{
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 75%);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,75%);
                    }
                    .showtime.light{
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
                        -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
                        box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }
    }
    @media only screen and (max-width:1000px) {
        .theater-container{
            flex-direction: column;
            height: unset !important;
            .theater-company{
                width: unset !important;
                flex-direction: row !important;
                
                .logo{
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .theaters{
                width: unset !important;
                align-items: unset !important;
                height: 300px;
            }
            .showing-movies{
                width: unset !important;
                height: 300px;
            }
        }
        
    }
}
 

