@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.signUpAdmin{
    .modal-title{
        color: $gray;
    }
    .form-group{
        label{
            color: $gray;
        }
    }
    .btn-login-admin{
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color:$colorForSmallIcon;
        color: #fff;
        letter-spacing: 1px;
        font-size: 18px;
    }
}