@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";

.seat-section{
    background-color: $backgroundColorSeatPick;
    padding-bottom: 50px ;
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .seat-picker{
        .theater-name-picked{
            color: rgba(255,255,255,0.38);
        }
        .theater-screen{
            img{
                width: 100%;
            }
        }
        .seat-block{
            .seat-row{
                justify-content: center;
            }
        }
    }
    .seat-item.inactive{
        background-color: $red;
        color: #fff !important;
        cursor: default !important; 
        pointer-events: none;
    } 
    .seat-item.active{
        @include GradientBackgroundTheme();
        color: #fff;
    }
    .seat-item.vip{
        border: 2px $yellow solid;
    }
    .seat-item{
        border: 1px solid $gray;
        border-radius: 5px;
        width: 70%;
        margin: 20px auto 0 auto;
        cursor: pointer;
        color: $gray;
        transition: all .3s;
        &:hover{
            @include GradientBackgroundTheme();
            color: #fff;
        }
        
    }
    
    .seat-picker-note{
        margin-top:120px;
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .seat-desc{
            display: flex;
            padding: 10px 0;
            .seat-item{
                height: 25px;
                width: 45px;
                margin: 0;
            }
            .seat-note{
                margin-left: 5px;
                color: $gray;
            }
        }
    }

}
@media screen and (max-width: 710px) {
    .seat-section{
        .seat-picker-note{
            .container{
                justify-content: baseline !important;
            }
        }
    }
}