@import "../../helper/variable.scss";
@import "../../helper/mixin.scss";
.recommend-section-dark{
  background-color: $darkBackground;
  >div{
    background-color: $darkContent;
  }
  .slick-track{
    .slick-slide{
      .card{
        background-color: #242526;
      }
    }
  }
}
.recommend-section-light{
  background-color: $lightBackground;
  >div{
    background-color: white;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.36);
  }
  .slick-track{
    .slick-slide{
      .card{
        background-color: white;
      }
    }
  }
}
.recommend-section{
    transition: all .7s;
    padding: 50px 0;
    h2{
      @include GradientTextWith_2_Colors(#9f00fb,#ff0000,30%,70%);
      i{
        font-size: 14px;
      }
    }
    >div{
        padding: 10px 0;
        border-radius: 10px;
    }
    .slick-track{
        .slick-slide{
            .card{
                border: none;
                border-radius: unset;
                
                &:hover{
                    .card-overlay{
                      cursor: pointer;
                      background: linear-gradient(0deg, rgba(131,58,180,0.55) 19%, rgba(253,29,29,0.55) 72%);              
                      .btn-buyticket{
                        opacity: 1;
                        @include GradientBackgroundTheme();
                        transform: translateY(0);
                      }
                      .watchTrailer{
                        i{
                          opacity: 1;                          
                        }
                      }
                    }
                  }
            }
            .film-content{
                width: 215px !important;
                margin: auto;
                .lengthFilm{
                    color: $yellow;
                }
            }
        }
    }
}