@import "../helper/variable.scss";
@import "../helper//mixin.scss";
.footer-dark{
    background-color: $darkBackground;
    .about-movik{
        color: #fff;
    }
    .partners{
        >div:nth-child(1){
            color: #fff;
        }
    }
    .contact-footer{
        >div:nth-child(1){
            color: #fff;
        }
        .contact-icon{
            a{
                i{
                    color: $gray;
                    
                }
            }              
         }
    }
    .about-me{
        .creator{
            color: #fff;
            font-size: 14px;
        }
        div:nth-child(2){
            color: #fff;
            font-size: 14px;
            span{
                a{
                    color: $colorForSmallIcon;
                }
            }
        }
    }
}
.footer-light{
    background-color: white;
    box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.36);
    .about-movik{
        color: #000;
        font-weight: 500;
    }
    .partners{
        >div:nth-child(1){
            color: #000;
            font-weight: 500;
        }
    }
    .contact-footer{
        >div:nth-child(1){
            color: #000;
            font-weight: 500;
        }
        .contact-icon{
            a{
                i{
                    color: #000;
                    font-weight: 500;
                    
                }
            }              
         }
    }
    .about-me{
        div:nth-child(2){
            span{
                a{
                    color: $colorForSmallIcon;
                }
            }
        }
    }
}

.footer{
    padding: 50px ;
    .container{
        .about-movik{
            
            width: 70%;
            div:nth-child(1){
                font-size: 14px; 
            }
            .about-content{
                div{
                    display: flex;
                    justify-content: space-between;
                    span{
                        a{
                            text-decoration: none;
                            font-size: 12px;
                            color: #949494;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .partners{
            width: 70%;
            margin: auto;
            >div:nth-child(1){
                
                font-size: 14px;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            .partners-logo{
                display: flex;
                flex-wrap: wrap;
                img{
                    width: 30px;
                    border-radius: 50%;
                    margin: 5px 6px;
                }
            }
            
        }
        .contact-footer{
           >div:nth-child(1){    
               font-size: 14px;
               margin-left: 10px;
           }
           .contact-icon{
            padding: 10px 0;
                a{
                    margin: 0 10px;
                    text-decoration: none;
                    i{
                        font-size: 25px;
                    }
                }              
            }
        }
        .footer-line{
            border-top: 1px solid #4a4a4a;
        }
        .about-me{
            .creator{
                font-size: 14px;
            }
            div:nth-child(2){
                font-size: 14px;
                
            }
        }
    } 
}
// RESPONSIVE
@include mobile{
    .partners{
        margin: 0 !important;
        div:nth-child(1){
            margin-left: 0 !important;
        }
        .partners-logo{
            img{
                margin-left: 0 !important;
                margin-right: 20px !important;
            }
        }
    }
    .contact-footer{
        div:nth-child(1){
            margin-left: 0 !important;
        }
    }
}