@import "../helper/variable.scss";
@import "../helper/mixin.scss";
header{
    z-index: 999;
    position: fixed;
    width: 100vw;
    .desktop-header{
        transition: all .7s;
    }
    .bg-darktheme{
        background-color: $darkContent;
    }
    .bg-lighttheme{
        background-color: white;
    }
    nav.navbar{
        height: 75px;
        justify-content: space-between !important;
        @include mobile {
            height: 100px;
        }
        //logo
        .header-brand{
            a{
                img{
                    width: 75px;
                    @include mobile{
                        width: 75px;
                        position: relative;
                        left: 10px;
                    }
                }
            }
        }

        // link
        .header-links{
            position: relative;
            left: 65px;
            cursor: pointer;
            // @include mobile{
            //     display: none;
            // }

            @include tablet{
                position: relative;
                left:-10px
            }
            .navbar-nav{
                li{
                    a{
                        color: $darkThemeText;
                        transition: all 0.3s;
                        font-size: 18px;
                        margin: 0 4px;
                        &:hover{
                            @include GradientTextWith_2_Colors(#9f00fb,#ff0000,24%,66%);
                            
                            
                        }
                        
                    }
                }
            }
        }
        //dropdown user-login
        .header-user.header-user-dark{
            background-color: $darkThemeText;
        }
        .header-user.header-user-light{
            background-color: white;
        }
        .header-user{
           transition: all .7s;
            flex-grow: unset;
            z-index: 999;
            padding: 10px;
            border-radius: 5px;
            .navbar-nav{
                @include tablet{
                    display: block;
                }
                // li.user-signup{
                //     i{
                //         color: $darkThemeText;
                //     }
                //     a{
                //         color: $darkThemeText;
                //     }
                // }
                li.user-signup{
                    .user-signup-link-dark{
                        color: $yellow;
                    }
                    .user-signup-link-light{
                        color: $darkThemeText;
                    }
                }
                
                li.user-login,.user-signup{
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                    cursor: pointer;

                    .user-login-logo,.user-signup-logo{
                        margin-right: 8px;
                        i{
                            font-size: 25px;
                            padding-top: 4px;
                            transition: transform .5s ease-in-out;
                            cursor: pointer;
                            @include tablet{
                                font-size: 20px;
                            }
                        }
                    }
                    
                    .user-signup-logo{
                        transition: all .7s;
                    }

                    .user-login-link,.user-signup-link{
                        a{
                            margin-bottom: 0 !important;
                            text-decoration: none;
                            transition: all .7s;
                        }
                    }
                    .user-login-logo-dark,.user-signup-logo-dark{
                        i{
                            color: $yellow;
                        }
                    }
                    .user-login-link-dark{
                        a{
                            color: $yellow;
                        }   
                    }
                    .user-signup-link-dark{
                        a{
                            color: $yellow;
                        }
                    }
                    .user-login-link-light{
                        a{
                            color: $darkThemeText;
                        }
                    }
                    .user-signup-link-light{
                        a{
                            color: $darkThemeText;
                        }
                    }
                    .user-login-logo-light,.user-signup-logo-light{
                        i{
                            color: $darkThemeText;
                        }
                    }
                    
                    &:active{
                        .user-login-logo,.user-signup-logo{
                            i{
                                @include GradientTextWith_2_Colors(#9f00fb,#ff0000,24%,66%);
                            }
                        }
                        .user-login-link,.user-signup-link{
                            a{
                                @include GradientTextWith_2_Colors(#9f00fb,#ff0000,24%,66%);
                            }
                        }
                    }
                }
                
            }
        }
    }
    
    .checkout{
        display: none !important;
    }
    .user-login{
        .menu-login{
            pointer-events: none;
            button{
                display: block;
                margin: 5px 0;
                i{
                    margin: 0 5px;
                }
            }
        }
        &:hover{
            .menu-login{
                pointer-events: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .menu-login{
        opacity: 0;
        padding: 15px 20px;
        position: absolute;
        top: 48px;
        right: 50px;
        transform: translateY(-10px);
        background: #fff;
        box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.75);
        border-radius: 10px;
        transition: all .3s;
        button{
            border:none;
            outline:none;
            background-color: #fff;
            color: rgba(0,0,0,0.5);
        }
        .user-profile,.user-admin{
            a{
                text-decoration: none;
                color: rgba(0,0,0,0.5); ;
                &:hover{
                    color: $colorForSmallIcon;
                }
            }
        }
        button:hover{
            color: $colorForSmallIcon;
        }
    }
    .mobile-navbar-dark{
        background-color: $darkContent;
    }
    .mobile-navbar-light{
        background-color: white;
    }
    .mobile-navbar{
        display: none;
        position: relative;
        transition: all .7s;
        .mobile-navbar-content{

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            .menu-bar{
                .bar-icon{
                    .bar-dark{
                        color:$darkThemeText
                    }
                    .bar-light{
                        color: $darkLite;
                    }
                    i{
                        cursor: pointer;
                    }
                }
                #check{
                    display: none;
                }
                i{
                    color:$gray;
                    font-size: 25px;
                }
                #check:checked {
                    ~ .menu-content{
                        height: 250px;
                        li{
                            opacity: 1;
                            pointer-events: unset;
                        }
                    }
                }
                .menu-content-dark{
                    background:$darkContent;
                }
                .menu-content-light{
                    background:white;
                }
                .menu-content{
                    height: 0px;
                    width: 100vw;
                    left: 0;
                    top:70px;
                    position: absolute;
                    z-index: 999;
                    transition: all 0.2s ease-out;
                    li{
                        text-align: center;
                        opacity: 0;
                        pointer-events: none;
                        transition: all .2s;
                        a{
                            color: $darkThemeText;
                        }
                    }
                    .mobile-header-user{
                        >ul{
                            flex-direction: row;
                            justify-content: center;
                            li{
                                margin: 0 5px;
                            }
                            .user-signup {
                                display: flex;
                                align-items: baseline;
                                i{
                                    margin: 0 5px;
                                }
                            }
                        }
                        .user-login{
                            display: flex;
                            justify-content: center;
                            .user-login-logo{
                                margin: 0 5px;
                                
                            }
                            .icon-dark{
                                color:$darkThemeText;
                            }
                            .icon-light{
                                color:$darkThemeText;
                            }
                            .user-login-link{
                                .dropDownArrow{
                                    font-size: 16px;
                                    color: $darkThemeText;
                                    margin: 0 5px;
                                    transform: rotateZ(-90deg);
                                    transition: all .3s;
                                }
                                input{
                                    display: none;
                                }
                                #dropdown-user-option:checked{
                                    ~.dropDownArrow{
                                        transform: rotateZ(-0deg);
                                    }
                                    ~.user-option-mobile{
                                        display: flex;
                                    }
                                }
                                
                                .user-option-mobile{
                                    display: none;
                                    button{
                                        border: none;
                                        background-color: transparent;
                                        color: $darkThemeText;
                                        margin: 0 10px;
                                    }
                                }
                            }
                            
                            
                        }
                    }
                }
                
            }
            .mobile-navbar-brand{
                .mobile-brand-logo{
                    width: 75px;
                }
            }
        
        }    
    }
}

.darkMode-switch{
    display: flex !important;
    >label{
        margin: auto;
        margin-top: 0;
        margin-left: 5px;
        cursor: pointer;
    }
    .switch{
        display: flex;
        padding-top: 3px;
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;  
        }
        
        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 30px;
            height: 14px;
            background: white;
            border:1px solid $colorForSmallIcon;
            display: block;
            border-radius: 100px;
            position: relative;
            transition: all .7s;
            margin: 0;
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 8px;
            height: 8px;
            @include GradientBackgroundTheme();
            border-radius: 50%;
            transition: all .5s;
        }
        
        input:checked + label {
            background: #242526;
        }
        
        input:checked + label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
        
        label:active:after {
            width: 13px;
        }
    }
}
@include tablet{
    .user-login{
        margin: 0 !important;
    }
    
}
@include mobile{
    header{
        .navbar.desktop-header{
            display: none;
        }
        .mobile-navbar{
            display: block !important;
        }
    }
    
    .header-user{
        .navbar-nav{
            display:unset;
        }
    }
    .header-links{
        display: none;
    }
}
