@import "../helper/variable.scss";
@import "../helper/mixin.scss";
header{
    box-shadow:  -1px 14px 31px 3px rgba(0,0,0,0.36);
    z-index: 999;
    .bg-darktheme{
        background-color: $darkContent;
        border-bottom: 1px solid $gray;
    }
    nav.navbar{
        height: 75px;
        justify-content: space-between !important;
        @include mobile {
            height: 100px;
        }
        //logo
        .header-brand{
            a{
                img{
                    width: 75px;
                    @include mobile{
                        width: 75px;
                        position: relative;
                        left: 10px;
                    }
                }
            }
        }

        // link
        .header-links{
            position: relative;
            left: 65px;
            // @include mobile{
            //     display: none;
            // }

            @include tablet{
                position: relative;
                left:-10px
            }
            .navbar-nav{
                li{
                    a{
                        color: $darkThemeText;
                        transition: all 0.3s;
                        font-size: 18px;
                        margin: 0 4px;
                        &:hover{
                            @include GradientTextWith_2_Colors(#9f00fb,#ff0000,24%,66%);
                            
                            
                        }
                        
                    }
                }
            }
        }
        //dropdown user-login
        .header-user{
            background-color: $darkThemeText !important;
            .navbar-nav{
                @include tablet{
                    display: block;
                }
                li.user-login,.user-signup{
                    display: flex;
                    align-items: center;
                    padding-right: 10px;
                    cursor: pointer;

                    .user-login-logo,.user-signup-logo{
                        margin-right: 8px;
                        i{
                            font-size: 25px;
                            padding-top: 4px;
                            color: $yellow;
                            transition: transform .5s ease-in-out;
                            cursor: pointer;
                            @include tablet{
                                font-size: 20px;
                            }
                        }
                    }
                    .user-login-link,.user-signup-link{
                        a{
                            margin-bottom: 0 !important;
                            text-decoration: none;
                            color: $yellow;
                        }
                    }
                    &:hover{
                        .user-login-logo,.user-signup-logo{
                            i{
                                @include GradientTextWith_2_Colors(#9f00fb,#ff0000,24%,66%);
                            }
                        }
                        .user-login-link,.user-signup-link{
                            a{
                                @include GradientTextWith_2_Colors(#9f00fb,#ff0000,24%,66%);
                            }
                        }
                    }
                }
                
            }
        }
        .navbar-collapse{
            flex-grow: unset;
            z-index: 999;
            background: rgba(255,255,255,1);
            padding: 10px;
            border-radius: 5px;
        }
    }
    .checkout{
        display: none !important;
    }
    .user-login{
        &:hover{
            .menu-login{
                
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .menu-login{
        
        opacity: 0;
        padding: 15px 20px;
        position: absolute;
        top: 48px;
        right: 50px;
        transform: translateY(-10px);
        background: #fff;
        box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.75);
        border-radius: 10px;
        transition: all .3s;
        button{
            border:none;
            outline:none;
            background-color: #fff;
            color: rgba(0,0,0,0.5);
        }
        button:hover{
            color: $colorForSmallIcon;
        }
    }
}

@include tablet{
    .user-login{
        margin: 0 !important;
    }
    .header-user{
        padding: 0 !important;
    }
}
@include mobile{
    .header-user{
        .navbar-nav{
            display:unset;
        }
    }
    .header-links{
        display: none;
    }
}
