@import "./helper/variable.scss";
@import "./helper/mixin.scss";
@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/home/main-slide";
@import "./component/home/login-modal";
@import "./component/home/search-block";
@import "./component/home/movie-slide";
@import "./component/home/theater-block";
@import "./component/home/news";
@import "./component/home/subscribes";
@import "./component/signup/signup";
@import "./component/detailmovie/detail-movie-top";
@import "./component/detailmovie/detail-block";
@import "./component/detailmovie/theater-block";
@import "./component/detailmovie/trailer-block";
@import "./component/theater/movie-picked";
@import "./component/theater/seat-section";
@import "./component/theater/selection-detail";
@import "./component/theater/confirm-booking-swal";
@import "./component/userprofile/user-info";
@import "./component/userprofile/user-profile";
@import "./component/userprofile/user-booking-info";
@import "./component/admin/navbar";
@import "./component/admin/search-for-user";
@import "./component/admin/user-management";
@import "./component/admin/sign-up-modal";
@import "./component/admin/movie-management";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
   
    a{
        text-decoration: none;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #383E43; 
        
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        // background: linear-gradient(45deg,  #ffff00, #ff0000, #9f00fb);
        background: linear-gradient(45deg,   #9f00fb, #ff0000);
    }
    .swal-overlay {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .swal-title {
       color: $colorForSmallIcon;
    }
    .swal-button {
        @include GradientBackgroundTheme();
        color:#fff;
    }
    .no-paddingX{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .no-paddingXRight{
        padding-right: 0 !important;
    }
    .no-paddingXLeft{
        padding-left: 0 !important;
    }
}