@import "../../helper/variable.scss";
@import "../../helper/mixin.scss"; 
.user-info-page{
    padding: 10px 0;
    background-image: url(../../../img/Slanted-Gradient.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .container-fluid{
        padding-left: 0;
        .profile-content{
            width: 100%;
        }
    } 
}
