@import "../../helper/variable.scss";
@import "../../helper/mixin.scss"; 

.user-booking-info{
    .booking-detail{
        .title{
            th{
                transition: all .7s;
                letter-spacing: 1px;
            }
        }
        .title-dark{
            th{
                color: #fff;
            }
        }
        .title-light{
            th{
                color: $colorForSmallIcon;
            }
        }
        .no-booking-data{
            margin: 30px 0;
            font-size: 20px;
            font-weight: 600;
            color: $yellow;
        }
        .value-light{
            td{
                color:#000 ;
            }
            .detail-more{
                &:hover{
                    i{
                        color:$colorForSmallIcon ;
                    }
                }
                i{
                    color:#000 ;
                }
            }
        }
        .value-dark{
            td{
                color: $yellow;
            }
            .detail-more{
                &:hover{
                    i{
                        color:$colorForSmallIcon ;
                    }
                }
                i{
                    color:#fff ;
                }
            }
        }
        .value{
            td{
                letter-spacing: 1px;
                font-size: 18px;
                transition: all .7s;
                .detail-more{
                    margin: 0 10px;
                    cursor: pointer;
                    i{   
                        font-size: 25px;
                    }
                }
                
            }
        }
    }
    
}
.booking-detail-modal{
    transition: all .7s;
}
.booking-detail-modal-dark{
    background-color: $darkBackground;
}
.booking-detail-modal-light{
    background-color: $lightBackground;
}
.detail-more-modal{
    background-color: white;
    .detail-row{
        margin: 10px 0;
    }
    .detail-title{
        text-align: left;
        font-weight: 600;
        color:$colorForSmallIcon ;
    }
    .detail-value{
        text-align: left;
        flex-wrap: wrap;
        display: flex;
    }
    .detail-value-light{
        color: #000;
    }
    .detail-value-dark{
        color:$darkThemeText;
    }
    .tenGheModal{
        margin: 0 3px;
        &:after{
            content:',',

        }
        &:nth-last-child(1){
            &:after{
                content:'',
    
            }
        }
    }
}